<div>
  <div class="header">
    <h2>{{selected.name}}</h2>
  </div>
  <h3 ng-switch={{selected.usage}}>
    <span ng-switch-when='1'>Church</span>
    <span ng-switch-when='2'>Museum</span>
    <span ng-switch-when='3'>Shop</span>
    <span ng-switch-when='4'>Office</span>
    <span ng-switch-when='5'>Brewery</span>
    <span ng-switch-default>Cafe</span>
  </h3>
  <img ng-src="{{selected.photoref}}" alt="{{selected.code}}" />
</div>

<form novalidate class="simple-form">
  Name: <input type="text" ng-model="selected.name" /><br />
  <button ng-click="update(selected)">SAVE</button>
</form>

<a href="#/properties">BACK</a>