
    <!-- Controls -->
    <header class="top clearfix"><h1>My Properties ({{properties.result.length}})</h1></header>

    <section class="list">
      <div class="header">  
        <input type="text" ng-model="searchText" id="filter" class="filter" placeholder="search building"/>
      </div>
      <ul>
        <li class="clearfix" ng-repeat="property in properties.result | filter:searchText" id="{{property.code}}" ng-dblclick="selectMarkerWithInfo(property.code);" ng-click="selectMarker(property.code)">
          <div class="item clearfix"  ng-class="{active : selected.code==property.code}">
            <div class="image">
              <img ng-src="{{property.photoref}}" alt="{{property.code}}" />
            </div>
            <p>{{property.name}}</p>
            <p ng-switch on={{property.usage}} class="type">
              <span ng-switch-when='1'>Church</span>
              <span ng-switch-when='2'>Museum</span>
              <span ng-switch-when='3'>Shop</span>
              <span ng-switch-when='4'>Office</span>
              <span ng-switch-when='5'>Brewery</span>
              <span ng-switch-when='6'>Cafe</span>
              <span ng-switch-default>Other</span>
            </p>
          </div>
        </li>
      </ul>
    </section>

    <section class="card" ng-class="{open : showInfo}">
    <div class="card_handle">
      <a href="#" ng-click="clear($event)" class="close">&times;</a>
    </div>
      <div class="card_content">
        <div class="header">
          <h2>Info</h2>
        </div>
        <h3>{{selected.name}}</h3>
        <p class="type">{{selected.code}}</p>
        <img ng-src="{{selected.photoref}}" alt="{{selected.code}}" />
        <div class="header sub">
          <h2>Object data</h2>
        </div>
        <span>Cadstral area: {{selected.cadastralArea|num}} m<sup>2</sup></span><br>
        <span>Area built on: {{selected.areabuilton|num}} m<sup>2</sup></span><br>
        <span>Cadastral number: {{selected.cadastralNumbers}}</span><br>
        <div class="header sub">
          <h2>Financial data</h2>
        </div>
        <span>Annual ground rent: &#8364;{{selected.groundrent|num}}.-</span><br>
      </div>
      <a href="#/properties/{{selected.code}}" class="button">EDIT</a>
    </section>

    <section class="map" id="map-canvas">

    </section>
