
    <!-- Controls -->
    <header class="header clearfix"><h1>My Properties ({{properties.length}})</h1></header>

    <section class="list">
      <div class="header">  
        <input type="text" ng-model="searchText" id="filter" class="filter" placeholder="search building"/>
      </div>
      <ul>
        <li class="clearfix" ng-repeat="property in properties | filter:searchText" id="{{property.code}}" ng-dblclick="selectMarkerWithInfo(property.code);" ng-click="selectMarker(property.code)">
          <div class="item clearfix"  ng-class="{active : selected.code==property.code}">
            <div class="image">
              <img ng-src="{{property.photoref}}" alt="{{property.code}}" />
            </div>
            <p>{{property.code}}</p>
            <p>{{property.name}}</p>
            <p ng-switch on={{property.usage}} class="type">
              <span ng-switch-when='1'>Church</span>
              <span ng-switch-when='2'>Museum</span>
              <span ng-switch-when='3'>Shop</span>
              <span ng-switch-when='4'>Office</span>
              <span ng-switch-when='5'>Brewery</span>
              <span ng-switch-when='6'>Cafe</span>
              <span ng-switch-default>Other</span>
            </p>
          </div>
        </li>
      </ul>
    </section>

    <section class="details" ng-class="{open : showInfo}">
      <div class="handle">
        <a href="#" ng-click="clear($event)" class="close">&times;</a>
      </div>

      <h2 class="header"> Details {{selected.name}}</h2> 

      <div class="img-holder">
        <img ng-src="{{selected.photoref}}" alt="{{selected.code}}" />
      </div>

      <div class="content">

        <div class="field">
          <p class="label">{{selected.code}}</p>
          <p class="value">{{selected.name}}</p>
        </div>
        <div class="field">
          <p class="label">Cadstral area:</p>
          <p class="value">&#8364;{{selected.groundrent|num}}.-</p>
        </div>
        <div class="field">
          <p class="label">Area built on: </p>
          <p class="value">&#8364;{{selected.groundrent|num}}.-</p>
        </div>
        <div class="field">
          <p class="label">Cadastral number:</p>
          <p class="value">&#8364;{{selected.groundrent|num}}.-</p>
        </div>
        <div class="field">
          <p class="label">Annual ground rent: </p>
          <p class="value">&#8364;{{selected.groundrent|num}}.-</p>
        </div>

      </div>

      <a href="#/properties/{{selected.code}}" class="button">EDIT</a>
    </section>

    <section class="map" id="map-canvas">

    </section>
