
    <!-- Controls -->
    <header class="top clearfix"><h1>My Properties</h1></header>

    <section class="list">
      <div class="header">  
        <input type="text" ng-model="filter" id="filter" class="filter" placeholder="search building"/>
      </div>
      <ul>
        <li class="clearfix" ng-repeat="property in properties | filter:filter" id="{{property.code}}" ng-dblclick="selectMarkerWithInfo(property.code);" ng-click="selectMarker(property.code)">
          <div class="item clearfix"  ng-class="{active : selected.code==property.code}">
            <div class="image">
              <img ng-src="{{property.PhotoPhileRef}}" alt="{{property.code}}" />
            </div>
            <p>{{property.code}}</p>
            <p>{{property.name}}</p>
            <p>{{property.comment}}</p>
          </div>
        </li>
      </ul>
    </section>

    <section class="card" ng-class="{open : showInfo}">
    <div class="card_handle">
      <a href="#" ng-click="clear()" class="close">&times;</a>
    </div>
      <div class="card_content">
        <div class="header">
          <h2>Info</h2>
        </div>
        <h3>{{selected.code}}</h3>
        <img ng-src="{{selected.PhotoPhileRef}}" alt="{{selected.code}}" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint natus itaque ex laborum praesentium soluta velit repudiandae deserunt magni ut dolorem obcaecati labore voluptatem reiciendis placeat tempora nisi ab laboriosam.</p>
      </div>
    </section>

    <section class="map" id="map-canvas">

    </section>
