
@import 'scss/reset';
@import 'scss/vars';

@font-face{font-family:$main-font;src:local("Open Sans Light"),local("OpenSans-Light"),url("../fonts/opensans/OpenSans-Light.woff") format("woff")}

/* Module */
html, body{height: 100%; overflow:hidden;}
.list, .map{height: 100%;}
body, input, textarea, select{
  color: $text-color;
  font-family: $main-font;
  font-size: $font-size;
  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
::-webkit-input-placeholder{
  color: $text-color;
  font-style: italic;
}
::-ms-input-placeholder{
  color:$text-color;
  font-style: italic;
}
::-moz-placeholder{
  color:$text-color;
  font-style: italic;
}
::placeholder{
  color:$text-color;
  font-style: italic;
}

header{
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 100;
 
  h1{
    background: $background-color-light url(../img/header.png) no-repeat 15px center;
    border-radius: 4px 4px 0 0;
    font-size: $font-size-h1;
    font-weight: lighter;
    line-height: 1.8;
    padding: 5px 0 5px 48px;
  }
  .count{
    font-size: $font-size-h4;
    color: $light-color;
  }
}

.details{
  background: $background-color;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  height: 100%;
  margin-left: 99%;
  padding-left: 25px; /* show border when closed */
  position: absolute;
  transition: all 0.5s ease;
  width: 25%;
  z-index: 1;

  &.open {
    margin-left: 75%;
    padding-left: 0; /* remove border when open */
  }
  .close{
      display: none;
  
    &:hover{
      opacity: 1;
    }
  }
  &.open .close{
    display: inline;
    font-size: $font-size;
    opacity: .5;
    padding-left: 4px;
    text-decoration: none;
    transition: all .3s ease-out 0s;
  }
  
  .header{
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    font-size: $font-size-h2;
    padding: 10px 0 10px 10px;
  }
  .handle{
    background-color: $background-color;
    border-radius: 2px 0 0 2px;
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    left: -17px;
    padding: 2px;
    position: absolute;
    top: 155px;
  }
  .img-holder{
      max-height: 250px;
      overflow: hidden;

      img{
        width: 100%;
      }
    }
  .content{
    padding: 10px;
  }
}

.field{
  border-bottom: 1px solid $border-color;
  padding: 5px;

  @extend .clearfix;

  .label{
    display: block;
    float: left;
    font-weight: bold;
    width: 40%;
  }
  .value{
    font-size: $font-size-smaller;
  }
}

.list{
  background: rgba(255,255,255,.7);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding-bottom: 42px;
  position: absolute;
  width: 25%;
  z-index: 1;

  @include user-select(none);

  .header{
    padding: 6px 12px 6px;

    .filter{
      border: 6px solid $filter-color;
      border-radius: 3px;
      padding: 0 6px;
      width: 100%;
    }
  }

  li{
    padding: 2px 12px;
  }
  .item{
    background: $background-color-light;
    border: 1px solid $border-color;
    color: $text-color;
    cursor: pointer;
    padding: 5px;
    list-style-type: none;

    &.item.active{
      background: $selected-color;
      color: $background-color-light;

      .image{
        border-color: #398AC7;
      }
    }
    .type{
      font-size: $font-size-h4;
    }
    p {
      padding: 5px 0;
    }
    /* First 2 lines per item shoudl be bold */
   p:first-of-type, p:nth-of-type(2){
      font-weight: bold;
    }
  }
  .image{
    border: 3px solid $background-color-light;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    float: left;
    height: 75px;
    margin-left: 5px;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
    width: 75px;

    img{
      transform: translateY(-50%) translateX(-50%); /* take the middle of the image */
    }
  } 
}


.map{
  position: absolute;
  width: 100%;
}

.graph {
  font: $secundairy-font;
  font-size: $font-size-h4;
  
  rect {
    fill: $selected-color;
  }
  text {
    font-family: $secundairy-font;
    text-anchor: end;
  }
  .line {
    fill: none;
    stroke: $selected-color;
    stroke-width: 1.5px;
  }

  .axis path,.axis line {
    fill: none;
    stroke: $text-color;
    shape-rendering: crispEdges;
  }
  path {
    stroke: $selected-color;
    stroke-width: 2;
    fill: none;
  }
  line {
    stroke: black;
  }
}

.button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid $border-color;
}
