

$main-font: "Open Sans";
$secundairy-font: Arial, Helvetica, sans-serif;
$font-size: 1em;
$font-size-h1: 1.2em;
$font-size-h2: $font-size;
$font-size-h3: .9em;
$font-size-h4: .8em;

$text-color: #666666;
$selected-color: #1464a1;
$light-color: #D4D5D6;
$border-color: $light-color;
$background-color: #f2f2f2;
$background-color-light: #ffffff;
$filter-color: #86bfdc;

.clearfix {
  &:after {
      content: ".";
	  display: block;
	  clear: both;
	  visibility: hidden;
	  line-height: 0;
	  height: 0;
  }
}